{% extends "base.html" %}
{% block content %}
<div class="card-body">
   <h4 style="font-weight: bolder; font-size: 200%;">Add new pet</h4>
   <hr>

   {%- for category, message in get_flashed_messages(with_categories = true) %}
   <div class="alert alert-danger">
      {{ message }}
   </div>
   {%- endfor %}
   <form action="{{ request.path }}" method="post">

      <label for="name" style="font-weight: bold;">Pet name:</label>
      <input type="text" id="name" class="form-control form-control-custom" name="name" placeholder=""
         value="" /><br>
      <br>

      <label for="animal" style="font-weight: bold;">Animal:</label>
      <select name="animal" id="animal" class="custom-select form-control-custom">
         <option value="" selected="selected">Select animal</option>
      </select>
      <br></br>

      <label for="breed" style="font-weight: bold;">Breed:</label>
      <select name="breed" id="breed" class="custom-select form-control-custom">
         <option value="" selected="selected">Please select animal first</option>
      </select>
      <br></br>

      <label for="birthday" style="font-weight: bold;">Birthday:</label>
      <input type="date" name="birthday" id="birthday" class="form-control form-control-custom" style="width: auto;"
         value="" /><br>
      <hr>
      <a type="button" class="btn btn-danger" href="{{ url_for('index') }}">Cancel</a>
      <button type="submit" class="btn btn-success">Add</button>
   </form>
</div>
{% endblock %}