{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4 style="font-weight: bolder; font-size: 200%;">Pet List</h4>
    <br>
    <table class="table" style="font-size: 150%;">
        <thead>
            <tr>
                <th scope="col">Pet name</th>
                <th scope="col">Animal</th>
                <th scope="col">Breed</th>
                <th scope="col">Birthday</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in pets %}
            <tr>
                <div>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.animal }}</td>
                    <td>{{ pet.breed }}</td>
                    <td>{{ pet.birthday }}</td>
                </div>
                <td>
                    <div class="btn-group" role="group">
                        <a type="button" style="margin: 2px;" class="btn btn-warning btn-md"
                            href="{{ url_for('edit', pet_id=pet.id) }}">Edit</a>
                        <form class="form" method="POST" action="{{ url_for('delete', pet_id=pet.id) }}">
                            <input type="submit" value="Delete" style="margin: 2px;" class="btn btn-danger btn-md"
                                onclick="return confirm('Are you sure you want to delete this entry?')">
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{{ url_for('add') }}">Create</a>
</div>
{% endblock %}