<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">PetBuddy</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Pets (<a href = "{{ url_for('new') }}">Add Pet</a>)</h3>

      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Animal</th>
               <th>Breed</th>
            </tr>
         </thead>

         <tbody>
            {% for pet in pets %}
               <tr>
                  <td>{{ pet.name }}</td>
                  <td>{{ pet.animal }}</td>
                  <td>{{ pet.breed }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>