# Docker environment
APP_TAG=test-3.11-alpine
PYTHON_TAG=3.11-alpine
POSTGRES_TAG=15-alpine
WSGI_PORT=5000
TZ=Etc/UTC

# Database connection
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_HOSTNAME=db
POSTGRES_DB=pets_db
POSTGRES_PORT=5432

# Flask configuration
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://user:password@host:port/dbname[?key=value&key=value...]
SECRET_KEY=secret
