{% extends "base.html" %}
{% block content %}
<div class="card-body">
   <h4 style="font-weight: bolder; font-size: 200%;">Create new task</h4>
   <hr>

   {%- for category, message in get_flashed_messages(with_categories = true) %}
   <div class="alert alert-danger">
      {{ message }}
   </div>
   {%- endfor %}
   <form action="{{ request.path }}" method="POST" style="font-size: 150%">

      <label for="title" style="font-weight: bold;">Task title:</label>
      <input type="text" id="title" class="form-control form-control-custom" name="title" placeholder="" value="" /><br>

      <label for="desc" style="font-weight: bold;">Description:</label>
      <input type="desc" id="desc" class="form-control form-control-custom" name="desc" placeholder="" value="" /><br>

      <label for="priority" style="font-weight: bold;">Priority:</label>
      <select name="priority" id="priority" class="form-select form-control-custom">
         <option value="NEW" selected="selected"></option>
      </select>
      <br>

      <label for="due_date" style="font-weight: bold;">Due Date:</label>
      <input type="date" name="due_date" id="due_date" class="form-control form-control-custom" style="width: auto;"
         value="" /><br>
      <hr>
      <a type="button" class="btn btn-danger btn-md text-white" href="{{ url_for('index') }}">Cancel</a>
      <button type="submit" class="btn btn-success btn-md text-white">Add</button>
   </form>
</div>
{% endblock %}