body {
    background-image: url("https://source.unsplash.com/collection/1040/1920x1080");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    white-space: normal;
    width: auto;
    height: auto;
}

.form-control-custom {
    min-width: 0;
    width: auto;
    display: block;
    justify-content: space-between;
}