body {
    background-image: url("https://images.unsplash.com/photo-1623387641168-d9803ddd3f35");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    white-space: normal;
    width: auto;
    height: auto;
}

.form-control-custom {
    min-width: 0;
    width: auto;
    display: block;
    justify-content: space-between;
}
